# This is Git's per-user configuration file.
[user]
	name = cori
	email = cori@glitch.com
[core]
	#pager = bat
	excludesfile = /Users/cori/.gitignore_global
[pager]
	diff = delta
	log = delta
	show = delta
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra

[interactive]
   diffFilter = delta --color-only

[delta "default"]
	side-by-side=true
	line-numbers=true
	paging=never
	dark=true

[delta "decorations"]
   commit-decoration-style = bold yellow box ul
   file-style = bold yellow ul
	file-decoration-style = none

[delta "copy"]
	side-by-side=false
	line-numbers=false
	keep-plus-minus-markers=false
	paging=never
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/cori/.stCommitMsg
