# This is Git's per-user configuration file.
[user]
	name = cori schlegel
	email = cori@glitch.com
[core]
	pager = bat
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra

[interactive]
   diffFilter = delta --color-only

[delta "default"]
	side-by-side=true
	line-numbers=true
	paging=never

[delta "decorations"]
   commit-decoration-style = bold yellow box ul
   file-style = bold yellow ul
	file-decoration-style = none

[delta "copy"]
	side-by-side=false
	line-numbers=false
	keep-plus-minus-markers=false
	paging=never
[init]
	defaultBranch = main
