<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vero.gettingstarted.snippettrigger</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>227A616A-D908-4AFB-8EFB-4202701B52D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD3BF041-3A57-445D-85C7-796BFD3F27B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>413C6C1B-BBF4-44E3-AA24-541AC369575F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>227A616A-D908-4AFB-8EFB-4202701B52D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD3BF041-3A57-445D-85C7-796BFD3F27B2</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Vero Pepperrell</string>
	<key>description</key>
	<string>Four Snippet Triggers which perform actions, run scripts, allow free text input and selection from a list</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Roam Triggers</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>- #Journal
    - Tasks
        - [[🏡]]
        - [[👨🏼‍💻]]
    - #worklog
    - #commentary
    - #TIL
    - #[[personal log]]
{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BD3BF041-3A57-445D-85C7-796BFD3F27B2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>daily</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>413C6C1B-BBF4-44E3-AA24-541AC369575F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys

sys.path.append("/Users/cori/code/personal/scripts/")

import ordinalize_date

yesterday = ordinalize_date.ordinalize_date(daysago=1)
lastweek = ordinalize_date.ordinalize_date(weeksago=1)
lastmonth = ordinalize_date.ordinalize_date(weeksago=4)

query_template = "{{{{[[query]]: {{and: {{not: [[query]]}} {{or: #Journal [[Quick Capture]]}} {{between:{0} {0}}} }} }}}}"

yday_query = query_template.format(yesterday)

lastweek_query = query_template.format(lastweek)

lastmonth_query = query_template.format(lastmonth)

all_queries = """ - #Review
    - {}
    - {}
    - {}""".format(yday_query,lastweek_query,lastmonth_query)

sys.stdout.write(all_queries)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>227A616A-D908-4AFB-8EFB-4202701B52D9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This Snippet Trigger example workflow contains 4 types of actions:

1. Triggering a system command
2. Running a script and pasting the output text
3. Requiring you enter free text and pasting the output
4. Choosing from a list and pasting the output

You'll find out more about this feature in the Snippet Trigger object documentation on our website.

Need help with workflows? Pop by the forum (alfredforum.com) if you have any further questions :)</string>
	<key>uidata</key>
	<dict>
		<key>227A616A-D908-4AFB-8EFB-4202701B52D9</key>
		<dict>
			<key>note</key>
			<string>python script to generate queries with Roam-like ordinal dates for yesteray. l;ast week, and a month ago</string>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>413C6C1B-BBF4-44E3-AA24-541AC369575F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Trigger the workflow with r/daily</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>BD3BF041-3A57-445D-85C7-796BFD3F27B2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>inserts the previously-generated queries into a "daily" template</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com/help/workflows/triggers/snippet/</string>
</dict>
</plist>
